In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.1.4-cp312-cp312-win_amd64.whl.metadata (18 kB)
Collecting numpy<2,>=1.26.0 (from pandas)
  Downloading numpy-1.26.2-cp312-cp312-win_amd64.whl.metadata (61 kB)
     ---------------------------------------- 0.0/61.2 kB ? eta -:--:--
     -------------------- ------------------- 30.7/61.2 kB 1.3 MB/s eta 0:00:01
     ---------------------------------------- 61.2/61.2 kB 1.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\2022-pc(t)-41\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     ------------------------------------  337.9/341.8 kB 10.6 MB/s eta 0:00:01
     ------------------------------------- 341.8/341.8 kB 10.7 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\2022-pc(t)-41\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.1.4-cp312-cp312-win_amd64.whl (10.5 MB)
   ---------------------------------------- 0.0/10.5 MB ? eta -:--:--
   --- ------------------------------------ 1.0/10.5 MB 30.4 MB/s eta 0:00:01
   ------- -------------------------------- 1.9/10.5 MB 24.7 MB/s eta 0:00:01
   ----------- ---------------------------- 3.0/10.5 MB 23.7 MB/s eta 0:00:01
   ---------------- ----------------------- 4.2/10.5 MB 24.6 MB/s eta 0:00:01
   ------------------- -------------------- 5.1/10.5 MB 23.1 MB/s eta 0:00:01
   ----------------------- ---------------- 6.2/10.5 MB 23.5 MB/s eta 0:00:01
   --------------------------- ------------ 7.3/10.5 MB 23.4 MB/s eta 0:00:01
   ------------------------------ --------- 8.1/10.5 MB 22.4 MB/s eta 0:00:01
   --------------------------------- ------ 8.8/10.5 MB 21.5 MB/s eta 0:00:01
   ------------------------------------ --- 9.5/10.5 MB 21.0 MB/s eta 0:00:01
   ------------------------------------- -- 9.9/10.5 MB 20.5 MB/s eta 0:00:01
   ---------------------------------------- 10.5/10.5 MB 18.7 MB/s eta 0:00:00
Downloading numpy-1.26.2-cp312-cp312-win_amd64.whl (15.5 MB)
   ---------------------------------------- 0.0/15.5 MB ? eta -:--:--
   --- ------------------------------------ 1.3/15.5 MB 27.7 MB/s eta 0:00:01
   ----- ---------------------------------- 2.2/15.5 MB 23.4 MB/s eta 0:00:01
   -------- ------------------------------- 3.3/15.5 MB 26.4 MB/s eta 0:00:01
   ----------- ---------------------------- 4.4/15.5 MB 25.8 MB/s eta 0:00:01
   -------------- ------------------------- 5.8/15.5 MB 24.5 MB/s eta 0:00:01
   ----------------- ---------------------- 6.8/15.5 MB 25.5 MB/s eta 0:00:01
   -------------------- ------------------- 8.0/15.5 MB 25.4 MB/s eta 0:00:01
   ----------------------- ---------------- 9.2/15.5 MB 25.5 MB/s eta 0:00:01
   ------------------------ --------------- 9.3/15.5 MB 23.0 MB/s eta 0:00:01
   -------------------------- ------------- 10.3/15.5 MB 23.4 MB/s eta 0:00:01
   ----------------------------- ---------- 11.6/15.5 MB 23.4 MB/s eta 0:00:01
   ------------------------------- -------- 12.0/15.5 MB 23.4 MB/s eta 0:00:01
   ---------------------------------- ----- 13.5/15.5 MB 21.8 MB/s eta 0:00:01
   -------------------------------------- - 14.7/15.5 MB 23.4 MB/s eta 0:00:01
   ---------------------------------------  15.5/15.5 MB 23.4 MB/s eta 0:00:01
   ---------------------------------------- 15.5/15.5 MB 21.8 MB/s eta 0:00:00
Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
   ---------------------------------------- 0.0/502.5 kB ? eta -:--:--
   --------------------------------------- 502.5/502.5 kB 30.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.26.2 pandas-2.1.4 pytz-2023.3.post1 tzdata-2023.3

In [8]:
import pandas as pd
data = [1,2,3]
ser = pd.Series(data, index=['a','b','c'])
ser

a    1
b    2
c    3
dtype: int64

In [11]:
ser.loc['b']

2

In [13]:
ser.loc['b':'c']

b    2
c    3
dtype: int64

In [12]:
ser.iloc[1:3]

b    2
c    3
dtype: int64

In [14]:
ser.loc[[True,False,True]]

a    1
c    3
dtype: int64

In [15]:
ser!=2

a     True
b    False
c     True
dtype: bool

In [16]:
ser.loc[ser!=2]

a    1
c    3
dtype: int64

### Dataframe

In [19]:
import pandas as pd
data = [[1,10,100],[2,20,200],[3,30,300]]
df = pd.DataFrame(data, index=['r1','r2','r3'], columns = ['c1','c2','c3'])
df

    c1  c2   c3
r1   1  10  100
r2   2  20  200
r3   3  30  300

In [20]:
df.loc['r2','c2']

20

In [21]:
df.loc['r2',:]

c1      2
c2     20
c3    200
Name: r2, dtype: int64

In [22]:
df.loc[:,'c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

In [23]:
df.loc[['r1','r3'],'c2':'c3']

    c2   c3
r1  10  100
r3  30  300

In [24]:
df.iloc[1:3,[0,2]]

    c1   c3
r2   2  200
r3   3  300

In [25]:
df['c2']

r1    10
r2    20
r3    30
Name: c2, dtype: int64

In [26]:
df > 10

       c1     c2    c3
r1  False  False  True
r2  False   True  True
r3  False   True  True

In [27]:
df.loc[df['c2']>10]

    c1  c2   c3
r2   2  20  200
r3   3  30  300

In [28]:
#c1열이 1보다 큰 동시에 c3열이 300보다 작은 데이터
df.loc[(df['c1']>1)&(df['c3']<300)]

    c1  c2   c3
r2   2  20  200

### 판다스 파일 불러오기

In [29]:
import pandas as pd
csv = "./sample/anime.csv"
df = pd.read_csv(csv)
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [30]:
df = pd.read_csv(csv, index_col=0)
df.head()

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [31]:
df = pd.read_csv(csv, index_col='anime_id')
df.head()

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [32]:
df = pd.read_csv(csv, dtype={'members':float})
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630.0
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665.0
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262.0
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572.0
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266.0

In [33]:
csv = "./sample/anime_stock_price.csv"
df = pd.read_csv(csv, parse_dates=['Date'])
df.dtypes

Date              datetime64[ns]
TOEI ANIMATION           float64
IG Port                  float64
dtype: object

In [34]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     --- --------------------------------- 20.5/250.0 kB 330.3 kB/s eta 0:00:01
     --------------- ---------------------- 102.4/250.0 kB 1.2 MB/s eta 0:00:01
     -------------------------------------- 250.0/250.0 kB 2.6 MB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [35]:
import pandas as pd
import openpyxl

xlsx = "./sample/anime.xlsx"
df = pd.read_excel(xlsx)
df.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
2,28851,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733
3,199,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.93,466254
4,12355,Ookami Kodomo no Ame to Yuki,"Fantasy, Slice of Life",Movie,1,8.84,226193

### SQL

In [36]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: numpy in c:\users\2022-pc(t)-41\appdata\local\programs\python\python312\lib\site-packages (from pandasql) (1.26.2)
Requirement already satisfied: pandas in c:\users\2022-pc(t)-41\appdata\local\programs\python\python312\lib\site-packages (from pandasql) (2.1.4)
Collecting sqlalchemy (from pandasql)
  Downloading SQLAlchemy-2.0.23-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\2022-pc(t)-41\appdata\local\programs\python\python312\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\2022-pc(t)-41\appdata\local\programs\python\python312\lib\site-packages (from pandas->pandasql) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\2022-pc(t)-41\appdata\local\programs\python\python312\lib\site-packages (from pandas->pandasql) (2023.3)
Collecting typing-extensions>=4.2.0 (from sqlalchemy->pandasql)
  Downloading typing_extensions-4.9.0-py3-none-any.whl.metadata (3.0 kB)
Collecting greenlet!=0.4.17 (from sqlalchemy->pandasql)
  Downloading greenlet-3.0.2-cp312-cp312-win_amd64.whl.metadata (3.8 kB)
Requirement already satisfied: six>=1.5 in c:\users\2022-pc(t)-41\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Downloading SQLAlchemy-2.0.23-cp312-cp312-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.2/2.1 MB 7.3 MB/s eta 0:00:01
   -------------------- ------------------- 1.1/2.1 MB 13.4 MB/s eta 0:00:01
   ---------------------------------------  2.0/2.1 MB 16.3 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 14.6 MB/s eta 0:00:00
Downloading greenlet-3.0.2-cp312-cp312-win_amd64.whl (289 kB)
   ---------------------------------------- 0.0/289.7 kB ? eta -:--:--
   --------------------------------------- 289.7/289.7 kB 17.5 MB/s eta 0:00:00
Downloading typing_extensions-4.9.0-py3-none-any.whl (32 kB)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (pyproject.toml): started
  Building wheel for pandasql (pyproject.toml): finished with status 'done'
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26798 sha256=947b4f5a949a6c6e224c218f015be8dc522d36fc3d1b1ff87ac868d0c41b5637
  Stored in directory: c:\users\2022-pc(t)-41\appdata\local\pip\cache\wheels\15\a1\e7\6f92f295b5272ae5c02365e6b8fa19cb93f16a537090a1cf27
Successfully built pandasql
Installing collected packages: typing-extensions, greenlet, sqlalchemy, pandasql
Successfully installed greenlet-3.0.2 pandasql-0.7.3 sqlalchemy-2.0.23 typing-extensions-4.9.0

In [38]:
from pandasql import sqldf
dfsql = lambda q:sqldf(q,globals())
result = dfsql("SELECT name, rating FROM df WHERE rating>9.0 ORDER BY rating DESC")
result

                                                name  rating
0            Taka no Tsume 8: Yoshida-kun no X-Files   10.00
1                                   Mogura no Motoro    9.50
2                                     Kimi no Na wa.    9.37
3                                       Kahei no Umi    9.33
4  Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...    9.10
5                                     Koe no Katachi    9.05

### JSON 저장하기

In [39]:
result.to_json('./sample/anime.json',orient='table')

### HTML 가져오기

In [40]:
url = 'https://docs.python.org/3/py-modindex.html'
tables = pd.read_html(url)
tables

[      0           1                                                  2
 0   NaN         NaN                                                NaN
 1   NaN           _                                                NaN
 2   NaN  __future__                       Future statement definitions
 3   NaN    __main__  The environment where top-level code is run. C...
 4   NaN     _thread                           Low-level threading API.
 ..   ..         ...                                                ...
 345 NaN      zipapp              Manage executable Python zip archives
 346 NaN     zipfile           Read and write ZIP-format archive files.
 347 NaN   zipimport  Support for importing Python modules from ZIP ...
 348 NaN        zlib  Low-level interface to compression and decompr...
 349 NaN    zoneinfo                             IANA time zone support

 [350 rows x 3 columns]]

In [41]:
tables[0].loc[:,1:].dropna().head(10)

             1                                                  2
2   __future__                       Future statement definitions
3     __main__  The environment where top-level code is run. C...
4      _thread                           Low-level threading API.
5     _tkinter  A binary module that contains the low-level in...
8          abc    Abstract base classes according to :pep:`3119`.
9         aifc  Deprecated:  Read and write audio files in AIF...
10    argparse  Command-line option and argument parsing library.
11       array  Space efficient arrays of uniformly typed nume...
12         ast     Abstract Syntax Tree classes and manipulation.
13     asyncio                                  Asynchronous I/O.

In [42]:
df.where(df['rating']<9.2).head()

,anime_id,name,genre,type,episodes,rating,members
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15335.0,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534.0
2,28851.0,Koe no Katachi,"Drama, School, Shounen",Movie,1,9.05,102733.0
3,199.0,Sen to Chihiro no Kamikakushi,"Adventure, Drama, Supernatural",Movie,1,8.93,466254.0
4,12355.0,Ookami Kodomo no Ame to Yuki,"Fantasy, Slice of Life",Movie,1,8.84,226193.0

In [43]:
df.sort_values('rating',ascending=False).head()

,anime_id,name,genre,type,episodes,rating,members
2143,33662,Taka no Tsume 8: Yoshida-kun no X-Files,"Comedy, Parody",Movie,1,10.00,13
1894,23005,Mogura no Motoro,Slice of Life,Movie,1,9.50,62
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1753,33607,Kahei no Umi,Historical,Movie,1,9.33,44
1,15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534